<li class="trait flexrow">
  <input name="items[{{id}}].name" value="{{name}}" type="text">
  <input type="checkbox" name="items[{{id}}].data.temporary" {{#if data.temporary}}checked{{/if}}
	 title="{{#if data.temporary}}{{ localize 'DUNE.temporary' }}{{else}}{{ localize 'DUNE.permanent' }}{{/if}}">
  <button data="{{id}}"><span class="fas fa-trash"></span></button>
</li>
